.statement {
   width: 100%;
   display: grid;
   grid-template-columns: 15% 30% 35% 20%;
   align-items: center;
   height: 80px;
}
.statement-div {
   display: flex;
   flex-direction: column;
   padding: 0 8px;
}
.statement-div div {
   display: flex;
   justify-content: space-between;
}
.statement-div div button {
   border: none;
   width: 14px;
   height: 10px;
}
.polygon {
   width: 14px;
   height: 10px;
   transition: 0.5s ease;
}
.polygon.flipped {
   transform: rotateZ(180deg);
   transition: 0.5s ease;
}
.date {
   text-align: center;
   font-family: Mulish;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   letter-spacing: 0.02em;
   color: #000000;
}
.amount {
   font-family: Mulish;
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   line-height: 40px;
   text-align: center;
   letter-spacing: 0.02em;
   color: #00abe1;
}
.amount.negative {
   color: #e15100;
}
.total {
   text-align: center;
   font-family: Mulish;
   font-style: normal;
   font-weight: 800;
   font-size: 22px;
   line-height: 26px;
   letter-spacing: 0.02em;
   color: #000c38;
   z-index: 1;
   opacity: 0.6;
}
.name {
   font-family: Mulish;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   text-transform: uppercase;
   line-height: 20px;
   letter-spacing: 0.02em;
   color: #000c38;
}
.message {
   font-family: Mulish;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.02em;
   color: #000c38;
}

.statement-info {
   display: none;
}
.statement-info.active {
   width: 100%;
   display: grid;
   grid-template-columns: 15% 65% 20%;
}
.statement-info div {
   grid-column-start: 2;
   grid-column-end: 3;
   background: rgba(196, 196, 196, 0.2);
   display: flex;
   width: 100%;
}

.statement-info div div {
   padding: 10px;
   display: flex;
   flex-direction: column;
   background: none;
   font-family: Mulish;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.02em;
   color: #000c38;
   padding: 8px;
}

.row {
   display: flex;
   flex-direction: row !important;
   padding: 0 !important;
}
.row-head {
   width: 110px;
   padding: 0;
   padding-left: 16px;
}
.row-body {
   padding-left: 22px;
}

@media screen and (max-width: 1200px) {
   .amount {
      font-size: 26px;
   }
}
@media screen and (max-width: 900px) {
   .amount {
      font-size: 20px;
   }
   .date {
      font-size: 16px;
   }
   .total {
      font-size: 16px;
   }
   .row-head {
      width: 80px;
      padding: 0;
   }
   .statement-info div div {
      font-size: 12px;
   }
   .row-head {
      padding-left: 8px;
   }
   .row-body {
      padding-left: 22px;
   }
}

@media screen and (max-width: 600px) {
   .amount {
      font-size: 12px;
   }
   .date {
      font-size: 10px;
   }
   .total {
      font-size: 10px;
   }
   .row-head {
      width: 60px;
      padding: 0;
      padding-left: 6px;
   }
   .row-body {
      padding-left: 32px;
   }
   .statement-info div div {
      font-size: 10px;
   }
   .row-body {
      padding-left: 22px;
   }
   .name {
      font-size: 12px;
   }
   .message {
      font-size: 12px;
   }
}
@media screen and (max-width: 480px) {
   .statement-info div {
      grid-column-start: 2;
      grid-column-end: 3;
      background: rgba(196, 196, 196, 0.2);
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   .row {
      margin-left: 12px;
   }
   .amount {
      font-size: 10px;
   }
   .total {
      font-size: 8px;
   }
   .row-body {
      padding-left: 32px;
   }
}
