.navigation {
   position: absolute;
   width: 873px;
   height: 20px;
   left: calc(50% - 873px / 2 - 0.5px);
}
.navigation.top {
   top: 21px;
}
.navigation.bottom {
   bottom: 90px;
}
.navigation ul {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   padding: 0px;
}

.navigation ul li {
   font-family: Crete Round;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.02em;
   color: #ffc336;
   list-style: none;
   text-decoration: none;
   cursor: pointer;
}
.active {
   color: white !important;
}
.underline {
   position: absolute;
   bottom: -10px;
   transform: translateX(-100%);
}
.hamburger {
   display: none;
}
@media screen and (max-width: 1200px) {
   .navigation {
      width: 573px;
      left: calc(50% - 573px / 2 - 0.5px);
   }
   .navigation ul li {
      font-size: 13px;
   }
}
@media screen and (max-width: 620px) {
   .navigation {
      width: 100%;
      left: 0;
   }
   .navigation ul {
      display: none;
   }
   .hamburger {
      display: block;
      position: absolute;
      top: -10px;
      right: 20px;
      fill: white;
      width: 30px;
      height: 35px;
   }
}
