.header {
   position: absolute;
   width: 100%;
   height: 129px;
   left: 0px;
   top: 0px;
}
.logo {
   width: 131px;
   height: 114px;
   position: absolute;
   top: 15px;
   left: 40px;
}
.vector {
   position: absolute;
   width: 100vw;
   height: 49px;

   top: 23px;

   /* Widget BG 01 */
}
.rectangle {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   height: 50px;

   /* Widget BG 01 */

   background: #000c38;
}
.user {
   position: absolute;
   width: 120px;
   height: 29px;
   right: 40px;
   top: 17px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
}
.user span {
   width: 120px;
   height: 19px;

   font-family: Oswald;
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 19px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   text-align: center;
   color: #ffc336;
}
.line {
   width: 120px;
   height: 0px;
   border: 2px dashed #00abe1;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
   .logo {
      display: none;
   }
   .user {
      display: none;
   }
}
