* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.app {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
}
.background {
   position: relative;
   width: 100vw;
   background: #fff5f5;
}
.bgLine1 {
   position: absolute;
   width: 100vw;
   height: auto;
   top: 197.67px;
}
.bgLine2 {
   position: absolute;
   width: 100vw;
   height: auto;
   top: 98px;
}
.bg3 {
   position: absolute;
   width: 1440px;
   height: 3391px;
   left: 0px;
   top: 147.17px;
}
.heading {
   width: 100%;
   height: 38px;
   margin-top: 127px;
   font-family: Crete Round;
   font-style: normal;
   font-weight: normal;
   font-size: 28px;
   line-height: 38px;
   text-align: center;
   letter-spacing: 0.02em;
   color: #000c38;
}
.balance {
   width: 678px;
   height: 98px;
   margin-top: 17px;
   display: flex;
}
.balance div {
   margin: 2px;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fffcfc;
   opacity: 0.9;
   box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}
.balance div h3 {
   font-family: Mulish;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.02em;
   color: #314a6f;
}
.balance div span {
   font-family: Mulish;
   font-style: normal;
   font-weight: 800;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.02em;
   color: #000c38;
}
.inputFields {
   display: flex;
   flex-direction: column;

   margin-top: 20px;
   z-index: 1;
   width: 100%;
   padding: 0 44px;
}
.inputFields input {
   font-family: Mulish;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.02em;
   height: 38px;
   padding-left: 10px;
   margin-bottom: 18px;
   color: #000c38;
}
::placeholder {
   color: #000c38;
}
.union {
   position: absolute;
   right: 60px;
   transform: translateY(65px);
}

.total-background {
   background: rgba(255, 213, 194, 0.46);
   position: absolute;
   top: 0;
   bottom: 0;
   width: 20%;
   right: 0;
}
.error {
   position: absolute;
   width: 100%;
   height: 72px;
   top: 415px;
   padding: 0 44px;
}
.error h2 {
   text-align: center;
   font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
   .balance {
      width: 90%;
   }
   .union {
      right: 6%;
   }
   .balance div h3 {
      font-size: 12px;
   }
   .balance div span {
      font-size: 18px;
   }
   .inputFields {
      padding: 0 5%;
   }
}
