.statements {
   position: absolute;
   width: 100%;
   height: 72px;
   top: 415px;
   padding: 0 44px;
}
.statement-header {
   height: 72px;
   background: #000d38;
   border: 1px solid rgba(108, 105, 136, 0.53);
   border-radius: 3px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.statement-header h3 {
   font-family: Mulish;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   letter-spacing: 0.02em;
   margin-left: 22px;
   color: #ffc336;
}
.statement-container {
   position: relative;
   width: 100%;
   background: #e5e5e5;
   border: 1px solid rgba(108, 105, 136, 0.53);
   border-radius: 3px;
}
.row {
   display: flex;
   flex-direction: row !important;
   padding: 0 !important;
}
.row-head {
   width: 110px;
   padding: 0;
}
.separator {
   background: #e15100;
   position: absolute;
   top: 10px;
   bottom: 10px;
   width: 5px;
   left: 15%;
}
